<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Twiter</h1>
    <p>Welcome to Twitter!</p>
  </body>
</html>
