<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/menu.css' />
  </head>
  <body>
    <div class="barralateral">
        <a href="#">Inicio</a><br>
        <a href="#"># Explorar</a>
        <a href="#">Mensajes</a>
        <a href="#">Bookmarks</a>
        <a href="#">Lista</a>
        <a href="#">Perfil</a>
        <a href="#">Más</a><br>
        <button class="boton">Tweet</button><br><br><br>
        <div class="perfil">
          <img src="https://clipartart.com/images/login-background-images-clipart.jpg" width="60" style="border-radius: 30%; vertical-align: middle; margin-bottom: 8px;"><br>
        </div>
        <a href="#"> User </a>
        
      </div>
      
      <div class="main">
        <h2>Contenido Aquí</h2>
      </div>
  </body>
</html>